* {
	background-image: none;
	box-shadow: none;
}

window {
	background-color: rgba(17, 17, 17, 0.45);
}

button {
    border-radius: 16px;
	text-decoration-color: #FFFFFF;
    color: #FFFFFF;
	background-color: rgba(0, 0, 0, 0.5);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 25%;
  margin: 10px;
}
button:hover,button:focus {
    background-color: rgba(150,150,150,0.4);
    background-size: 35%;
    animation: gradient_f 20s ease-in infinite;
    transition: all 0.3s cubic-bezier(.55,0.0,.28,1.682);
}

#lock {
    background-image: image(url("./icons/lock.png"));
}

#logout {
    background-image: image(url("./icons/logout.png"));
}

#suspend {
    background-image: image(url("./icons/sleep.png"));
}

#shutdown {
    background-image: image(url("./icons/power.png"));
}

#reboot {
    background-image: image(url("./icons/restart.png"));
}

#hibernate {
    background-image: image(url("./icons/hibernate.png"));
}


