<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>public-key</key>
	<data>LS0tLS1CRUdJTiBQVUJMSUMgS0VZLS0tLS0KTUlJQm9qQU5CZ2txaGtpRzl3MEJBUUVGQUFPQ0FZOEFNSUlCaWdLQ0FZRUFvYXNLWWtqc0F6MS9SQ1BRb0hlTwpQUVNSTGhwaVUzUFMyZnBHc1hrUytJZ28ycGIvdjhpRHlMb1ZtS2kwRVpjZFhYa0tSTnM2UzdqampxZExhZWxYCmprNEUzS2dMaWkzZy82ZWZhWEkvV0dIc3d1ZXdvWkhjR0p0WXNOSzdrWXhnU3hXWTlGK0FDTXVrVGpJcmtEeWQKQXNabkdwcFV6ODUzZTZaVTZaTS9hWmdSTnc2SjQzYy9HUUZFTVZqaXNyajNyeFpOOHN6bUJDNUowR05hS1pyWQpUK0NiNEhtcHJJM3o4RDdpVHg3MExPelFyaEQ0RVMraHFBWW53Rm9RRFQ0R0F4WUQvNW1OeVhEU0dXVWdCTmYvCkRISGNUZ0g1RUxjVTRvVjNTZnNXZDVnejdkcjFmVEpSV0VXSmY5dHJnRkEyVUI4ZlRqVVFWS3BESGtPWVpMOEYKV1N4WWhjVFpGWnQ4SHVzMWs1SEMxTFQrZWM2dHlFZGZiRE5YVnRBSzY2c05mMkhnUENCSW5BTEZBUlh6ZXBXWApMSGtzejhOMXVPTFdtRlppM1NRa2RTMXpFbkpkTVFKN1ZnL2JQTWJXdlhvUVlCcjhtM01HUnZZY1hmQnBEUWJsCmVFeDgvckYxeitZTzh4OG1KenZEa1dWK25sQ0VhS21TR2pCYnpJdTFjeHdkQWdNQkFBRT0KLS0tLS1FTkQgUFVCTElDIEtFWS0tLS0tCg==</data>
	<key>public-key-size</key>
	<integer>3072</integer>
	<key>signature-by</key>
	<string>Stefan</string>
</dict>
</plist>
